[user]
    name = {{ git_name }}
    email = {{ git_email }}
[alias]
    ignored = ls-files -o -i --exclude-standard
    logv = log --name-status
    graph = log --graph --decorate --pretty=oneline --abbrev-commit --date=relative --date-order
[color]
    ui = auto
